<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
        background-color: #f0f0f0
        }
        a:link{
        color:#512888;
        text-decoration:none
        }
        a:visited{
        color:#512888;
        text-decoration:none
        }
    </style>
    <title>Voice Assistant Adventure</title>
</head>
<body>
<h1><center><font color = #512888>Voice Assistant Adventure</font></center></h1>
<h2>
<br>
<br>
<a href = null>Link to Amazon Alexa Skill</a>
<br>
<br>
<table border="1">
    <thead> Links to APIs and Services we used</thead>
    <tr>
        <td>Our Git-Hub</td>
        <td><a href = "https://github.com/chhawkins/VoiceAssistantAdventure">LINK</a></td>
    </tr>
    <tr>
        <td>Alexa Developer Console</td>
        <td><a href="https://developer.amazon.com/alexa/console/ask">LINK</a></td>
    </tr>
    <tr>
        <td>Domain.com</td>
        <td><a href = "http://www.domain.com/mlh">LINK</a></td>
    </tr>
</table>
    </h2>
</body>
</html>